body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

/* Hide the clear button from geocoder dropdown results */
.maplibregl-ctrl-geocoder .suggestions button {
  display: none !important;
}